<!DOCTYPE html>
<html lang="fr">
<head>

	<title>Nos Cours</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/color.css">
<!--===============================================================================================-->
</head>
<body class="animsition restyle-index">
	
	<header>
		<!-- Header desktop -->
	   <div class="container-menu-desktop">
			<div class="top-bar bg-main">
				<div class="container">
					<div class="content-topbar">
						<div class="left-top-bar">
							<a href="apropos.html">A propos de nous</a>
							<a href="#">Blog</a>
							<a href="#">FAQ</a>
						</div>

						<div class="right-top-bar">
							<span>
								<i class="icon_phone" aria-hidden="true"></i>
								<span>+237693344847</span>
							</span>

							<span>
								<i class="icon_pin" aria-hidden="true"></i>
								<span>Akwa, Douala-Cameroun</span>
							</span>

							<span>
								<i class="icon_clock" aria-hidden="true"></i>
								<span>De 09:00h à 06:00h 7j/7</span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<div class="limiter-menu-desktop">
					
					<!-- Logo desktop -->		
					<a href="index.html" class="logo">
						<img src="images/icons/logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="index.html">Accueil</a>
							</li>

							<li>
								<a href="#">Cours</a>
								<ul class="sub-menu">
									<li><a href="cours-listes.html">Liste des cours</a></li>
								</ul>
							</li>

							<li>
								<a href="#">Instructeurs</a>
							</li>

							<li>
								<a href="#">Galleries</a>

							</li>

							<li>
								<a href="#">Blog</a>
								<ul class="sub-menu">
									<li><a href="#">Notre Blog</a></li>

								</ul>
							</li>

							<li class="respon-sub-menu">
								<a href="apropos.html">A propos</a>
							</li>

							<li class="respon-sub-menu">
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>
					
					<!-- Social desktop -->
					<div class="social">
						<a href="#"><i class="fa fa-facebook m-l-13" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
					</div>
					
				</div>
			</div>	
		</div>


		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<a href="index.html" class="logo-mobile">
				<img src="images/icons/logo.png" alt="IMG-LOGO">
			</a>
			

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
				
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li class="bo1-b p-t-8 p-b-8">
					<div class="left-top-bar p-l-7">
						<a href="apropos.html">A propos</a>
						<a href="#">Blog</a>
						<a href="#">FAQ</a>
					</div>
				</li>

				<li class="right-top-bar bo1-b p-t-8 p-b-8">
					<span>
						<i class="icon_phone" aria-hidden="true"></i>
						<span>+237693344847</span>
					</span>
				</li>

				<li class="right-top-bar bo1-b p-t-8 p-b-8">
					<span>
						<i class="icon_pin" aria-hidden="true"></i>
						<span>Akwa, Douala-Cameroun </span>
					</span>
				</li>

				<li class="right-top-bar bo1-b p-t-8 p-b-8">
					<span>
						<i class="icon_clock" aria-hidden="true"></i>
						<span>De 09:00h à 06:00h 7j/7</span>
					</span>
				</li>
			</ul>

			<ul class="main-menu-m bg-main">
				<li class="bg-main">
					<a href="index.html">Accueil</a>
				</li>

				<li class="bg-main">
					<a href="#">Cours</a>
					<ul class="sub-menu-m">
						<li><a href="cours-listes.html">Liste des cours</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li class="bg-main">
					<a href="#">Instructeurs</a>
				</li>

				<li class="bg-main">
					<a href="#">Galleries</a>
				</li>

				<li class="bg-main">
					<a href="#">Blog</a>

				</li>

				<li class="bg-main">
					<a href="apropos.html">A propos</a>
				</li>

				<li class="bg-main">
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</header>

	<!-- Title page -->
	<section class="bg-img-1 bg-overlay-3 p-t-93 p-b-95" style="background-image: url('images/bg-title-01.jpg');">
		<div class="container">
			<div class="flex-w flex-sb-m">
				<div class="p-t-10 p-b-10 p-r-30">
					<div class="flex-w p-b-9">
						<span>
							<a href="index.html" class="s-txt19 hov-color-main trans-02">
								<i class="fa fa-home"></i>
								Accueil
							</a>
							<span class="s-txt19 p-l-6 p-r-9">/</span>
						</span>

						<span>
							<span class="s-txt19">
							Nos Cours
							</span>
						</span>
					</div>

					<h2 class="m-txt6 respon1">
						Nos Cours
					</h2>
				</div>

				<div class="p-t-10 p-b-10">
					<!-- Button -->
					<a href="#" class="btn-drive size1 m-txt1 bg-main bo-rad-4 trans-03">
						Réserver une leçon de conduite
						<i class="fa fa-chevron-right m-l-9 fs-14" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Content -->
	<section class="bgwhite p-t-70 p-b-65">
		<div class="container">
			<!--  -->
			<div class="bg1 flex-sb-m flex-w p-t-7 p-b-7 p-r-6 p-l-28 m-b-40 p-lr-15-sm">
				<div class="flex-m flex-w p-t-10 p-b-10">
					<span class="flex-c-m fs-18 color6 hov-pointer hov-color-main trans-03 m-r-13 js-show-grid">
						<i class="fa fa-th-large"></i>						
					</span>

					<span class="flex-c-m fs-18 color6 hov-pointer hov-color-main trans-03 m-r-25 js-show-list actived-2">
						<i class="fa fa-th-list"></i>
					</span>
						
					<span class="s-txt2 p-t-3">
						Affichage des résultats 1-4 sur 8
					</span>
				</div>

				<div class="pos-relative w-size8">
					<input class="size15 bo2 s-txt10 p-l-15 p-r-40" type="text" name="search" placeholder="Chercher plus vite ici...">
					<button class="flex-c-m size16 ab-t-r fs-15 color5 hov-color-main trans-03">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
			
			<!-- Course grid -->
			<div class="js-grid dis-none">
				<div class="row">
					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-01.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href="#"><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Permis Zen
								</h4></a>
								<span class="m-txt9">50.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="cours-détail.html" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>	

					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-02.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href="#"><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Bases de la conduite I
								</h4></a>
								<span class="m-txt9">150.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="cours-détail.html" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-03.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href="#"><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Bases de la conduite II
								</h4></a>
								<span class="m-txt9">70.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-04.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href="#"><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Bases de conduite II et test
								</h4></a>
								<span class="m-txt9">100.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>	

					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-05.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href=""><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Boite automatique
								</h4></a>
								<span class="m-txt9">100.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>	

					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-06.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href="#"><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Permis Accéléré
								</h4></a>
								<span class="m-txt9">150.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
										Détails
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-07.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href="#"><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Permis Réussite
								</h4></a>
								<span class="m-txt9">40.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-40">
						<!-- Block 3 -->
						<div class="block-3 bo2">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-b">
								<a href="#"><img src="images/course-08.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 p-l-20 p-r-20 p-t-16 p-b-26">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<a href="#"><h4 class="m-txt8 hov-color-main trans-04 p-b-12">
									Code Zen
								</h4></a>
								<span class="m-txt9">160.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>	
				</div>
			</div>
			
			<!-- Course list -->
			<div class="js-list">
				<div class="row">
					<div class="col-sm-10 col-md-12 m-lr-auto p-b-30">
						<!-- Block 3 -->
						<div class="block-3 bo2 flex-w">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-r w-size6 respon2">
								<a href="#"><img src="images/course-01.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 w-size7 p-l-35 p-r-27 p-t-26 p-b-25 w-full-md">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<h4 class="p-b-15">
									<a href="#" class="m-txt8 hov-color-main trans-04">
										Code Réussite
									</a>
								</h4>
								
								<p class="s-txt2 h-size4 of-hidden m-b-2 respon3">
									Pack complet : Formation au Code en ligne + Place d'examen avec notre partenaire La Poste
								</p>

								<span class="m-txt9">170.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="cours-détail.html" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>	

					<div class="col-sm-10 col-md-12 m-lr-auto p-b-30">
						<!-- Block 3 -->
						<div class="block-3 bo2 flex-w">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-r w-size6 respon2">
								<a href="#"><img src="images/course-02.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 w-size7 p-l-35 p-r-27 p-t-26 p-b-25 w-full-md">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<h4 class="p-b-15">
									<a href="cours-détail.html" class="m-txt8 hov-color-main trans-04">
										Code Zen Moto
									</a>
								</h4>
								
								<p class="s-txt2 h-size4 of-hidden m-b-2 respon3">
									On s'occupe de tout : Inscription en Préfecture + Formation au code
								</p>

								<span class="m-txt9">150.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="cours-détail.html" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-sm-10 col-md-12 m-lr-auto p-b-30">
						<!-- Block 3 -->
						<div class="block-3 bo2 flex-w">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-r w-size6 respon2">
								<a href="#"><img src="images/course-03.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 w-size7 p-l-35 p-r-27 p-t-26 p-b-25 w-full-md">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<h4 class="p-b-15">
									<a href="#" class="m-txt8 hov-color-main trans-04">
										Conduite Accompagnée
									</a>
								</h4>
								
								<p class="s-txt2 h-size4 of-hidden m-b-2 respon3">
									Une formation encadrée par un coach pour apprendre sereinement dès 15 ans
								</p>

								<span class="m-txt9">250.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="cours-détail.html" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-sm-10 col-md-12 m-lr-auto p-b-30">
						<!-- Block 3 -->
						<div class="block-3 bo2 flex-w">
							<div class="wrap-pic-b3 wrap-pic-w hov5 bo2-r w-size6 respon2">
								<a href="#"><img src="images/course-04.jpg" alt="IMG-COURSE"></a>
							</div>

							<div class="wrap-text-b3 w-size7 p-l-35 p-r-27 p-t-26 p-b-25 w-full-md">
								<div class="flex-sb-m p-b-12">
									<span class="s-txt5">
										Conduite, signalisation routière
									</span>
									<span class="color1 fs-12">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>

								<h4 class="p-b-15">
									<a href="#" class="m-txt8 hov-color-main trans-04">
										Conduite Accompagnée boite automatique
									</a>
								</h4>
								
								<p class="s-txt2 h-size4 of-hidden m-b-2 respon3">
									Une formation encadrée par un coach pour apprendre sereinement dès 15 ans</p>

								<span class="m-txt9">200.000 FCFA</span>
								
								<div class="wrap-btn-b3 flex-w p-t-13">
									<div class="m-r-8 p-t-8">
										<!-- Button -->
										<a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
											Reserve maintenant
										</a>
									</div>

									<div class="p-t-8">
										<!-- Button -->
										<a href="cours-détail.html" class="btn-drive m-txt10 size4 bo3 bg1 hov-color-white bo-rad-4">
											Détails
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Pagination -->
				<div class="flex-w flex-m p-t-15">
					<a href="#" class="flex-c-m s-txt24 size14 bgwhite bo6 bo-rad-3 hov3 trans-03 m-r-12 m-t-5 m-b-5 act-pagi">
						1
					</a>

					<a href="#" class="flex-c-m s-txt24 size14 bgwhite bo6 bo-rad-3 hov3 trans-03 m-r-12 m-t-5 m-b-5">
						2
					</a>

					<a href="#" class="flex-c-m s-txt24 size14 bgwhite bo6 bo-rad-3 hov3 trans-03 m-r-12 m-t-5 m-b-5">
						3
					</a>

					<a href="#" class="s-txt24 hov-color-main trans-03 m-l-23 m-t-10 m-b-10">
						Aller plus loin
						<i class="fa fa-angle-right m-l-8"></i>
					</a>
				</div>
			</div>

			
		</div>
	</section>
	

	<!-- CTA 1-->
	<div class="bg-main p-t-30 p-b-30">
		<div class="container">
			<div class="content-cta-1 flex-sb-m flex-w">
				<span class="m-txt17 p-t-15 p-b-15">
					Vous cherchez une conduite de première classe?
				</span>

				<div class="wrap-btn-cta">
					<!-- Button -->
					<a href="#" class="btn-drive rs1-btn size5 m-txt2 bgwhite bo-rad-4 trans-03">
						Obtenir un devis gratuit?
					</a>
				</div>
			</div>
		</div>
	</div>

	<footer class="bg4 p-t-25">
		<div class="container p-b-60">
			<div class="row">
				<div class=" col-sm-12 col-lg-3 p-t-30">
					<div class="w-full wrap-pic-max-w">
						<a href="index.html"><img src="images/icons/logo-02.png" alt="LOGO"></a>
					</div>

					<p class="s-txt9 p-t-30">
						Lemoniteur237, est une plateforme, ayant pour mission principale ; la valorisation  des cours de conduite des véhicules à moteur adaptés au contexte africain ,calqué sur le modèle Camerounais, via une nouvelle méthode pédagogique, simple et facile d’accès.</p>
				</div>

				<div class=" col-sm-6 col-lg-3 p-t-30">
					<h4 class="m-txt12 p-t-14">
						Centre de formation
					</h4>

					<div class="wrap-link-footer p-t-28">
						<ul class="col-left">
							<li><a href="index.html">Accueil</a></li>
							<li><a href="cours-listes.html">Cours</a></li>
							<li><a href="#">Instructeurs</a></li>
							<li><a href="apropos.html">A propos</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>

						<ul class="col-right">
							<li><a href="#">Blog</a></li>

						</ul>
					</div>
				</div>

				<div class=" col-sm-6 col-lg-3 p-t-30">
					<h4 class="m-txt12 p-t-14">
						Contactez-nous
					</h4>

					<ul class="contact-footer p-t-28">
						<li>
							<i class="fa fa-home" aria-hidden="true"></i>
							Akwa, Douala-Cameroun
						</li>

						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							(+237) 6 93 34 48 47
						</li>

						<li>
							<i class="fa fa-fax" aria-hidden="true"></i>
							(+237) 6 78 38 93 46
						</li>

						<li>
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							contact@lemoniteurenligne.com
						</li>

						<li>
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							De Lun-Ven 09:00 - 21:00
						</li>
					</ul>
				</div>

				<div class=" col-sm-6 col-lg-3 p-t-30">
					<h4 class="m-txt12 p-t-14">
						Notre Galleries
					</h4>

					<div class="wrap-gallery-footer p-t-35">
						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-01.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-01.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-02.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-02.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-03.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-03.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-04.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-04.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-05.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-05.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-06.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-06.jpg" alt="GALLERY">
						</a>
					</div>
				</div>
				
			</div>
		</div>

		<div class="bg3 txt-center p-t-19 p-b-16">
			<span class="s-txt10">Copyright@ 2021 Le moniteur en ligne.</span>
			<a href="https://housemdigi.com" class="dis-inline s-txt11 hov-color-white trans-04">made with love by housemigi</a>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top hov-bg-main" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/wow/wow.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/waypoint/jquery.waypoints.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countterup/jquery.counterup.min.js"></script>
	<script>
		$('.counter').counterUp({
			delay: 10,
			time: 1000
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>